<div class="container py-5" id="form-category">
<mat-tab-group animationDuration="1000ms" class="py-5" headerPosition="below" mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Student" class="my-5 custom-tab-bg">
    <ng-template mat-tab-label>
      <span class="custom-tab-label">Student</span>
    </ng-template>
    <form class="text-center py-1" id="student-form">
      <div class="mt-3 student-img">
        <img src="../../../assets/images/log-in/student-form.svg" alt="" class="img-fluid">
      </div>
      <h2 class="my-3">Student Login</h2>
      <!-- NAME FIELD -->
      <div class="form-field">
        <label for="field" class="label--required">User Name</label>
        <section class="py-1 my-3">
          <i class="fa-solid fa-user"></i>
          <input id="field" required type="text" />
        </section>
      </div>
      <!-- password FIELD -->
      <div class="form-field">
        <label for="password" class="label--required">Password</label>
        <section class="py-1 my-3">
          <i class="fa-solid fa-key"></i>
          <input id="password" required type="password" />
        </section>
      </div>
      <!-- Code FIELD -->
      <div class="form-field">
        <label for="code" class="label--required">Code</label>
        <section class="py-1 my-3">
          <i class="fa-regular fa-eye"></i>
          <input id="code" required type="password" />
        </section>
      </div>
      <!-- BUTTONS -->
      <div class="form-buttons py-4">
        <button class="a-btn">Log in</button>
      </div>
    </form>
  </mat-tab>

  <mat-tab label="Staff">
    <ng-template mat-tab-label>
      <span class="custom-tab-label">Staff</span>
    </ng-template>
    <form class="text-center py-3" id="staff-form">
      <div class="mt-3 student-img">
        <img src="../../../assets/images/log-in/teacher-form.svg" alt="" class="img-fluid">
      </div>
      <h1 class="my-3">Staff Login</h1>
      <!-- NAME FIELD -->
      <div class="form-field">
        <label for="field" class="label--required">User Name</label>
        <section class="py-1 my-3">
          <i class="fa-solid fa-user"></i>
          <input id="field" required type="text" />
        </section>
      </div>
      <!-- password FIELD -->
      <div class="form-field">
        <label for="password" class="label--required">Password</label>
        <section class="py-1 my-3">
          <i class="fa-solid fa-key"></i>
          <input id="password" required type="password" />
        </section>
      </div>
      <!-- Code FIELD -->
      <div class="form-field">
        <label for="code" class="label--required">Code</label>
        <section class="py-1 my-3">
          <i class="fa-regular fa-eye"></i>
          <input id="code" required type="password" />
        </section>
      </div>
      <!-- BUTTONS -->
      <div class="form-buttons py-4">
        <button class="a-btn">Log in</button>
      </div>
    </form>
  </mat-tab>

  <mat-tab label="Parent" id="mat-tab">
    <ng-template mat-tab-label>
      <span class="custom-tab-label">Parent</span>
    </ng-template>
    <form class="text-center py-3" id="parent-form">
      <div class="mt-3 student-img">
        <img src="../../../assets/images/log-in/parent-form.svg" alt="" class="img-fluid">
      </div>
      <h1 class="my-3">Parent Login</h1>
      <!-- NAME FIELD -->
      <div class="form-field">
        <label for="field" class="label--required">User Name</label>
        <section class="py-1 my-3">
          <i class="fa-solid fa-user"></i>
          <input id="field" required type="text" />
        </section>
      </div>
      <!-- password FIELD -->
      <div class="form-field">
        <label for="password" class="label--required">Password</label>
        <section class="py-1 my-3">
          <i class="fa-solid fa-key"></i>
          <input id="password" required type="password" />
        </section>
      </div>
      <!-- Code FIELD -->
      <div class="form-field">
        <label for="code" class="label--required">Code</label>
        <section class="py-1 my-3">
          <i class="fa-regular fa-eye"></i>
          <input id="code" required type="password" />
        </section>
      </div>
      <!-- BUTTONS -->
      <div class="form-buttons py-4">
        <button class="a-btn">Log in</button>
      </div>
    </form>
  </mat-tab>
</mat-tab-group>
</div>
